<ul class="uk-iconnav uk-margin-left">
    <a href="/home" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-plus fa-3x" style="color:rgb(153, 196, 74)" title="Add Island" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/report" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-th-list fa-3x" style="color:rgb(63, 122, 139)" title="View all Islands" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/logout" class="uk-card uk-card-small uk-card-hover uk-padding-small">
        <i class="fas fa-sign-out-alt fa-3x" style="color:rgb(156, 70, 128)" title="Logout" pos="bottom" uk-tooltip></i>
    </a>
</ul>