<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Islands
        </caption>
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Added By</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each pois}}
            <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td> {{creator.firstName}} {{creator.lastName}} </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>