<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card }}
    {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="400" src="images/island.jpg" />
        </div>
        <div class="uk-width-expand@m">
            <h1 class="uk-heading-small">Welcome to the Islands of Ireland</h1>
            <p>A place to keep record of all the Islands you have visited!</p>
            <p> Please log in or sign up</p>
        </div>
    </div>
</div>